.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    background-color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Caprasimo', sans-serif;
    padding-bottom: 7px;
    letter-spacing: 1px;
}
